# -- general ---
ansible_user: centos

# --- ansible-role-lustre ---
lustre_install_type: server
lustre_manage_repo: false
lustre_format_disks: true
lustre_format_mgs:
  id: 45da89db-6c07-461e-a
lustre_format_mdts:
  - id: 5394d5fe-4dda-44a5-a
    index: 0
    mgs_nodes: "{{ hostvars['stackhpc-server'].ansible_host }}@tcp1"
lustre_format_osts:
  - id: c51788e8-9660-4487-b
    index: 0
    mgs_nodes: "{{ hostvars['stackhpc-server'].ansible_host }}@tcp1"
lustre_mount_disks: true

# --- ansible-role-linux-kernel ---
# These are only required when using lustre_install_type: server (i.e. patchless server or client don't require them)
kernel_version: 3.10.0-1160.49.1.el7_lustre # Must be availble in the appropriate whamcloud repo (see below) for the above lustre version
kernel_manage_custom_repo: "{{ true if lustre_install_type == 'server' }}"
kernel_custom_repo_name: lustre-server
kernel_custom_repo_baseurl: "https://downloads.whamcloud.com/public/lustre/lustre-{{ lustre_version }}/el{{ ansible_distribution_major_version }}/{{ lustre_install_type }}"
kernel_custom_repo_description: "Lustre Server {{ lustre_version }} Yum Repository for {{ ansible_os_family }} {{ ansible_distribution_major_version }} - {{ ansible_architecture }}"
kernel_custom_repo_enabled: true
kernel_custom_repo_gpgcheck: false
install_kernel_debuginfo: true
install_kernel_tools: false

lustre_nodemaps:
  - name: test
    # admin_nodemap: true/[false]
    # audit_mode: [true]/false
    # deny_unknown: true/[false]
    # fileset: ''
    # idmaps: []
      # - client_id:
      #   fs_id:
      #   idtype:
    ranges:
      - start_nid: "{{ hostvars['stackhpc-client-1']['ansible_host'] }}@{{ hostvars['stackhpc-client-1']['lustre_lnet_lnetctl_networks'] | first }}"
        end_nid: "{{ hostvars['stackhpc-client-2']['ansible_host'] }}@{{ hostvars['stackhpc-client-2']['lustre_lnet_lnetctl_networks'] | first }}"
# squash_gid: 99
# squash_uid: 99
# trusted_nodemap: true/[false]
